Options Indexes FollowSymLinks MultiViews
IndexIgnore */*

<IfModule mod_rewrite.c>
    # Turn on the RewriteEngine
    RewriteEngine on
    #  Rules	
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>	
	
